.banner{
    background-color: #804792;
}
.continaner{
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100%;
    padding: 0 5rem 0 0rem ;
    align-items: center;
}
.continar_2{
    justify-content: center;
    padding: 5px;
    align-items: center;
}
.robot img{
    width: 30rem;
}
.text{
    padding: 0 0 5rem 2rem ;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: left;
}
.text b {
    font-size: 2.5rem;
}
.but{
    padding-left: 5rem;
    justify-content: center;
}
.continar_2 button {
    align-items: center;
    width: 29rem;
    height: 2.8rem;
    border-radius: 1.5rem;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: "Abril Fatface";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    box-shadow: 0px 4px 4px  rgba(255, 255, 255, 1);

}
@media (min-width :1440px ){
    .robot img{
        width: 32rem;
    }
    .text{
        font-size: 1.7rem;
    }
    .text b {
        font-size: 2.5rem;
    }
    .but{
        padding-left: 9rem;
    }
    .continar_2 button {
        width: 29rem;
        height: 2.8rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
    }
}
@media (min-width :1701px ){
    .robot img{
        width: 35rem;
    }
    .text{
        font-size: 2rem;
    }
    .text b {
        font-size: 2.8rem;
    }
    .but{
        padding-left: 15rem;
    }
    .continar_2 button {
        width: 35rem;
        height: 2.9rem;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
    }
}
@media(min-width: 2500px){
    .robot img{
        width: 50rem;
    }
    .text{
        font-size: 3.2rem;
    }
    .text b {
        font-size: 4rem;
    }
    .but{
        padding-left: 22rem;
    }
    .continar_2 button {
        width: 58rem;
        height: 4rem;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
    } 
}