.calorie_calculator{
    padding:  0 1rem;
}
.c_c_con{
    display: flex;
    justify-content: center;
}
.c_t_con{
    display: flex;
    padding: 0 1rem;
}
.item_con{
    width: 17.85rem;
    height: 6rem;
    display: flex;
    border-radius: 0.5rem;
    background-color: #fff;
}
.item1{
    padding: 0.5rem;
    color: #5A246B;
    font-family: Lexend Deca;
}
.item_ins{
    padding: 1rem;
    display: flex;
}
.img_pad{
    padding: 2rem 0 0 8rem;
}
.item2 img{
    width: 2rem;
}
.item2_jst{
    padding: 0.5rem;
}
.item_ins2{
    margin: auto;
    padding: 0 0 0 5.5rem;
    display: flex;
}
.item_ins2 input[type=text]{
    width: 2.5rem;
}
.item_ins2 button{
    background-color: #5A246B;
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    font-family: Lexend Deca;
    font-size: 0.5rem;
}
@media (min-width :1440px ){
    .c_t_con{
        padding: 0 1.54rem;
    }
    .item_con{
        width: 20rem;
        height: 6rem;
    }
    .img_pad{
        padding: 2rem 0 0 10.5rem;
    }
    .item2 img{
        width: 2.2rem;
    }
    .item_ins2{
        padding: 0 0 0 8rem;
    }
    .item_ins2 input[type=text]{
        width: 2.5rem;
    }
    .item_ins2 button{
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
    }
}
@media (min-width :1701px ){
    .c_t_con{
        padding: 0 2rem;
    }
    .item_con{
        width: 23rem;
        height: 7rem;
    }
    .img_pad{
        padding: 2rem 0 0 13rem;
    }
    .item2 img{
        width: 3rem;
    }
    .item_ins2{
        padding: 0 0 0 10rem;
    }
    .item_ins2 input[type=text]{
        width: 2.5rem;
    }
    .item_ins2 button{
        padding: 0.2rem 0.8rem;
        font-size: 1rem;
    }
}
@media (min-width :2500px ){
    .c_t_con{
        padding: 0 4.16rem;
    }
    .item_con{
        width: 33rem;
        height: 12rem;
    }
    .img_pad{
        padding: 4rem 0 0 17.5rem;
    }
    .item2 img{
        width: 4.5rem;
    }
    .item1{
        font-size: 2rem;
    }
    .item_ins{
        font-size: 2rem;
        width: 8rem;
    }
    .item_ins2{
        padding: 0 0 0 13.5rem;
    }
    .item_ins2 input[type=text]{
        width: 5rem;
        height: 2.5rem;
    }
    .item_ins2 input[type=number]{
        width: 5rem;
        height: 2.5rem;
    }
        .item_ins2 button{
        padding: 0.2rem 0.8rem;
        font-size: 1rem;
    }
}