.chart {
    font-family: Abril Fatface;
    text-align: center;
    margin-top: 1rem;
    margin-left: 2rem;
    padding: 0;
    display: flex;
    height: 24rem; 
    position: relative;
}

#myChart {
    border-radius: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: #FFFFFF;
    max-width: 36rem;
    height: 24rem; 
}

.tooltip_c {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tooltiptext_c {
    width: 20rem;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_c:hover .tooltiptext_c {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 1440px) {
    .chart {
        height: 24rem;
    }
    #myChart {
        max-width: 40rem;     
        height: 24rem;
    }
}

@media (min-width: 1701px) {
    .chart {
        height: 31rem;
    }
    #myChart {
        max-width: 45rem;
        height: 31rem; /* Match drag area height */
    }
}