/*Nero was here */

.check_in{
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
.checkin_con{
    width: 100%;
}
.checkin_bkg{
    padding: 5px;
    border-radius: 0.5rem;
    width: 100%;
    height: 5.2rem;
    background-color: #FFFFFF;
}
.checckin_itemscon{
    align-items: center;
    justify-content: center;
    display: flex;
}
.circle{
    width: 4.8rem;
    border: 0.2rem solid #5A246B;
    border-radius:100%;
    text-align: center;
}
.items_3{
    color: #5A246B;
    font-size: 0.7rem;
    font-family: Abril Fatface;
    padding: 10px;
}
.items_3 h1{
    font-size: 1.4rem;
}
.line{
    width: 5.5rem;
    height: 0.4rem;
    background-color: #5A246B;
}
@media (min-width :1440px ){
    .checkin_bkg{
        padding: 5px;
        height: 6rem;
    }
    .circle{
        width: 5.5rem;
        height: 5.5rem;
    }
    .items_3{
        font-size: 0.8rem;
        padding: 1rem;
    }
    .items_3 h1{
        font-size: 1.8rem;
    }
    .line{
        width: 6.5rem;
        height: 0.4rem;
    }
}
@media (min-width :1701px ){
    .checkin_bkg{
        padding: 5px;
        height: 7rem;
    }
    .circle{
        width: 6rem;
        height: 6rem;
    }
    .items_3{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .items_3 h1{
        font-size: 2rem;
    }
    .line{
        width: 7.5rem;
        height: 0.4rem;
    }
}
@media (min-width :2500px ){
    .checkin_bkg{
        padding: 5px;
        height: 10rem;
    }
    .circle{
        width:  9rem;
        height: 9rem;
        border: 0.4rem solid #5A246B;
    }
    .items_3{
        font-size: 2rem;
    }
    .items_3 h1{
        font-size: 3rem;
    }
    .line{
        width: 11rem;
        height: 0.6rem;
    }
}