/*Nero was here */

.credits{
    background-color : #331031;
    font-family: Abril Fatface;
    color: #D85C36;
}
.con_i{
    justify-content: center;
}
.con_text{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.con_h12 h1{
    font-weight: 400;
    font-size: 1.2rem;
    margin: auto;
    padding: 0 5rem 0 0;
}
.con_h12 h2{
    font-size: 1rem;
    margin: auto;
    padding: 0 5rem 0 0rem;
}
@media (min-width :1440px ){
    .con_h12 h1{
        font-size: 1.8rem;
    }
    .con_h12 h2{
        font-size: 1.5rem;
    }
}
@media(min-width: 2500px){
    .con_h12 h1{
        font-size: 2.5rem;
    }
    .con_h12 h2{
        font-size: 2rem;
    }
}