@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Abril Fatface;
}
.conn{
    display: flex;
}
.Food_analysis{
  display: flex;
  background: #5A246B;
}
.drag-area{
  border: 2px dashed #5A246B;
  height: 19rem;
  width: 30rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #5A246B;
}
.drag-area .icon{
  font-size: 100px;
  color: #5A246B;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #5A246B;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #5A246B;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5A246B;
  border-radius: 1rem;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}