/*Nero was here */

.OFFER{
    background-color: #EBEAE1;
    height: 50rem;
}
.con_titlel{
    padding: 1rem;
}
.sub_titel_bg{
    padding-top: -2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 90%;
    padding:0.5rem;
    margin: auto;
}

.sub_titel{
    font-size: 1.8rem;
    color: #5A246B;
    text-align: center;
}
.con_i_t{
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
}
.con_img{
    display: flex;
}
.img_1{
    padding: 2rem;
}
.img_1 img {
    width: 100%;
}
.img_1 h1{
    font-family: Abril Fatface;
    color: #5A246B;
    text-align: center;
    font-size: 1rem;
}
@media (min-width :1440px ){
    .OFFER{
        height: 60rem;
    }
    .sub_titel{
        font-size: 2rem;
    }
    .img_1 h1{
        font-size: 1.5rem;
    }
}
@media(min-width: 2500px){
    .OFFER{
        height: 70rem;
    }
    .sub_titel{
        font-size: 2.5rem;
    }
    .img_1 h1{
        font-size: 2rem;
    }
}
