/*Nero was here */
/*stop using "Nero" for everything Please */

.other_con{
    font-family: Abril Fatface;
    margin-left: 28rem;
}
.other_title h1{
    color: #5A246B;
    padding-top: 3rem;
    font-size: 4rem;
    font-weight: 500;
}
.other_title h2{
    color: #000000;
    margin-left: 2rem;
    padding-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.body_info{
    
    width: 100%;
}
.body_info1{
    display: flex;
    width: 100%;
}
.body_info input[type=number]{

    width: 25rem;
    height: 3.5rem;
    padding-left: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: Abril Fatface;
    font-size: 1.5rem;
    color: #5A246B;
    border: 2px solid #000000;
}

.body_info label{
    font-family: Abril Fatface;
    padding-left: 0.8rem;
    font-size: 1.5rem;
    color: #000000;

}
.account_i_title{
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}
.account_info{
    margin-left: 1rem;
}
.account_info input[type=email]{
    margin: 0.5rem;
    width: 47rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: Abril Fatface;
    font-size: 1.5rem;
    color: #5A246B;
    border: 2px solid #000000;
}
.account_info input[type=password]{
    margin: 0.5rem;
    width: 47rem;
    height: 3.5rem;
    padding-left: rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: Abril Fatface;
    font-size: 1.5rem;
    color: #5A246B;
    border: 2px solid #000000;
}
.account_info label{
    font-family: Abril Fatface;
    padding-left: 0.8rem;
    font-size: 1.5rem;
    color: #000000;
}
.body_info button{
margin-bottom: 2rem;
margin-left: 38rem;
margin-top: 1rem;
border-radius: 0.5rem;
width: 10rem;
height: 2.5rem;
background-color: #5A246B; 
color: white;
border: none;
font-size: large;
}

.account_info button{
    margin-bottom: 2rem;
    margin-left: 38rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #5A246B; 
    color: white;
    border: none;
    font-size: large;
}
.body_info hr{
    margin-top: 2rem;
}
.delete_account h2{
    color: #5A246B;
    margin-left: 2rem;
    padding-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
}
.delete_account button{
    margin-bottom: 2rem;
    margin-left: 16rem;
    margin-top: 2rem;
    width: 20rem;
    height: 2.5rem;
    background-color: #EBEAE1; 
    color: red;
    border: none;
    font-size: xx-large;
}
@media (min-width :1440px ){
    .other_title h1{
        font-size: 5rem;
    }
    .other_title h2{
        font-size: 3rem;
    }
    .body_info input[type=number]{
        width: 30rem;
        height: 4rem;
        font-size: 2rem;
    }
    .body_info label{
        font-size: 2rem;
    }
    .account_i_title{
        font-size: 2rem;
    }
    .account_info input[type=email]{
        width: 50rem;
        height: 4rem;
        font-size: 2rem;
    }
    .account_info input[type=password]{
        width: 50rem;
        height: 4rem;
        font-size: 2rem;
    }
    .account_info label{
        font-size: 2rem;
    }
    .account_info button{
        width: 12rem;
        height: 3rem;
        font-size: x-large;
    }
    .delete_account h2{
        font-size: 3rem;
    }
    .delete_account button{
        width: 25rem;
        height: 3rem;
        font-size: xx-large;
    }
}
@media (min-width :1701px ){
    .other_con{
        margin-left: 37rem;
    }
    .other_title h1{
        font-size: 6rem;
    }
    .other_title h2{
        font-size: 3.5rem;
    }
    .body_info input[type=number]{
        width: 35rem;
        height: 4.5rem;
        font-size: 2.5rem;
    }
    .body_info label{
        font-size: 2.5rem;
    }
    .account_i_title{
        font-size: 2.5rem;
    }
    .account_info input[type=email]{
        width: 55rem;
        height: 4.5rem;
        font-size: 2.5rem;
    }
    .account_info input[type=password]{
        width: 55rem;
        height: 4.5rem;
        font-size: 2.5rem;
    }
    .account_info label{
        font-size: 2.5rem;
    }
    .account_info button{
        width: 14rem;
        height: 3.5rem;
        font-size: x-large;
    }
    .delete_account h2{
        font-size: 3.5rem;
    }
    .delete_account button{
        width: 30rem;
        height: 3.5rem;
        font-size: xx-large;
    }
}
@media (min-width :2500px){
    .other_con{
        margin-left: 48rem;
    }
    .other_title h1{
        font-size: 7rem;
    }
    .other_title h2{
        font-size: 4rem;
    }
    .body_info input[type=number]{
        width: 40rem;
        height: 5rem;
        font-size: 3rem;
    }
    .body_info label{
        font-size: 3rem;
    }
    .account_i_title{
        font-size: 3rem;
    }
    .account_info input[type=email]{
        width: 60rem;
        height: 5rem;
        font-size: 3rem;
    }
    .account_info input[type=password]{
        width: 60rem;
        height: 5rem;
        font-size: 3rem;
    }
    .account_info label{
        font-size: 3rem;
    }
    .account_info button{
        width: 15rem;
        height: 4rem;
        font-size: xx-large;
    }
    .delete_account h2{
        font-size: 4rem;
    }
    .delete_account button{
        margin-left: 40rem;
        width: 35rem;
        height: 4rem;
        font-size: xxx-large;
    }
}