/*Nero was here */
/* tooltip */
.tooltip_r svg{
    z-index: 1;
    position: absolute;
    width: 1.5rem;
    margin-left: 0.2rem;
    margin-top: -4rem;
  }
  .tooltip_r{
    padding-top: 3.5rem;
    position: relative;
    display: inline-block;
  }
  .tooltip_r .tooltiptext_r{
    width: 45rem;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -20rem;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip_r .tooltiptext_r::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 52%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .tooltip_r:hover  .tooltiptext_r{
  visibility: visible;
  opacity: 1;
  }
  
  /* end */
.register_imgs {
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    
}
.register_imgs img{
    width: 30rem;
    height: 41rem;    
}

.inputs{
    position: absolute;
    margin-left: 32.5rem;
    margin-top: 6rem;
    
}
.label_stayle{
    font-size: rem;
}
input[type=text]{
    padding-left: 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 1.5rem;
    font-weight: bold;
    font-family: Abril Fatface;
    font-size: 2rem;
    color: #5A246B;
    border: 0px ;
    

}
input[type=Email]{
    padding-left: 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 1.5rem;
    font-weight: bold;
    font-family: Abril Fatface;
    font-size: 2rem;
    color: #5A246B;
    border: 0px ;
    
}
input[type=Password]{
    padding-left: 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 1.5rem;
    font-family: Abril Fatface;
    font-size: 2rem;
    font-weight: bold;
    color: #5A246B;
    border: 0px ;
}
input[type=number]{
    border-radius: 1.5rem;
    color: #5A246B;
    border: 0px ;
    font-weight: bold;
    font-family: Abril Fatface;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
input[type=number]{
    border-radius: 1.5rem;
    color: #5A246B;
    border: 0px ;
    font-weight: bold;
    font-family: Abril Fatface;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
input[type=number]{
    padding: 0.5rem;
    border-radius: 1.5rem;
    color: #5A246B;
    border: 0px ;
    font-weight: bold;
    font-family: Abril Fatface;
    font-size: 0.8rem;
    
}
input[type=radio]{
    margin: 0.5rem ;
}

.register_btn{
    display: flex;
    margin-top: 3rem;
    margin-left: 5rem;
    align-items: center;
}
.register_btn button {
    font-family: Abril Fatface;
    font-size: 1.5rem;
    width: 10rem;
    height: 2rem;
    border-radius: 1.5rem;
    border: 0px ;
    background-color: #5A246B;
    color: #fff;
}
.label_stayle{
 color: #5A246B;
 font-family: Abril Fatface;
}
.register_btn a{
    font-size: 1.5rem;
    padding-right: 5rem;
}


.form_error {
    color: red;
    margin-top: 2rem;
    margin-left: 14rem;
}

#Nero{
    border-radius: 0.5rem;
    width: 5rem;
    color: #5A246B;
    font-size: 1rem;
    font-family: Abril Fatface;
}
.select_div{
    font-size: 1rem;
    padding-left: 1rem;
    font-family: Abril Fatface;
}
.info {
    padding-left: 0.5rem;
    font-size: 1rem;
    backdrop-filter: blur(0.5rem);
    border-left: 0.3rem solid #2196F3;  
}
  .info_d{
    padding-left: 1rem;
  }
/* others monitor */
@media (min-width :1701px ){
    .register_imgs{
        margin-top: 1%;
    }
    .register_imgs img{
        width: 40rem;
        height: 55rem;    
    }
    .inputs{
        margin-left: 43rem;
        margin-top: 8rem;
    }
    input[type=text]{
        font-size: 2.7rem;
    }
    input[type=Email]{
        font-size: 2.7rem;
    }
    input[type=Password]{
        font-size: 2.7rem;
    }
    input[type=number]{
        
        font-size: 1.2rem;
       
    }
    input[type=number]{
        font-size: 1.2rem;
    }
    input[type=number]{

        font-size: 1.2rem;
        
    }
    input[type=radio]{
        margin: 1rem ;
    }
    .register_btn button {
        font-size: 2.5rem;
        width: 15rem;
        height: 4rem;
        border-radius: 2rem;
    }
    .register_btn a{
        font-size: 2rem;
        padding-right: 5rem;
    }
    .label_stayle{
        font-size: 1.5rem;
    }
    #Nero{
        width: 6rem;
        font-size: 1.5rem;
    }
    .select_div{
        font-size: 1.5rem;
        padding-left: 1.5rem;
    }
    .info {
        font-size: 1.3rem;
        height: 2rem;
        width: 30%;
        backdrop-filter: blur(0.5rem);
        border-left: 0.5rem solid #2196F3;  
    }
      .info_d{
        padding-left: 1rem;
      }
}
/* nero monitor */
@media(min-width: 2500px){
    .register_imgs{
        margin-top: 4%;
    }
    .register_imgs img{
        width: 50rem;
        height: 65rem;    
    }
    .inputs{
        margin-left: 54rem;
        margin-top: 9rem;
    }
    input[type=text]{
        font-size: 3.4rem;
    }
    input[type=Email]{
        font-size: 3.4rem;
    }
    input[type=Password]{
        font-size: 3.4rem;
    }
    input[type=number]{
        
        font-size: 1.6rem;
       
    }
    input[type=number]{
        font-size: 1.6rem;
    }
    input[type=number]{

        font-size: 1.6rem;
        
    }
    input[type=radio]{
        margin: 1.5rem ;
    }
    .register_btn{
        margin-left: 10rem;
    }
    .register_btn button {
        font-size: 3rem;
        width: 15rem;
        height: 4rem;
        border-radius: 2rem;
    }
    .register_btn a{
        font-size: 2.5rem;
        padding-right: 8rem;
    }
    .label_stayle{
        font-size: 1.8rem;
    }
    #Nero{
        width: 6rem;
        font-size: 1.5rem;
    }
    .select_div{
        font-size: 1.5rem;
        padding-left: 1.5rem;
        font-family: Abril Fatface;
    }
    .info {
        font-size: 1.5rem;
    }
      .info_d{
        padding-left: 1rem;
      }
}

