/*Nero was here */

.user_set_con{
    font-family: IBM Plex Sans;
    margin-left: 27rem;
}
.user_title{
    color: #5A246B;
    padding-top: 6rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.usen_in{
    padding-top: 3rem;
}
.usen_in [type=text]{
    font-size: x-large;
    width: 30rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 2px solid #000000;
}
.user_img{
    padding-top: 3rem;
}
.user_img img{
    width: 10rem;
    height: 10rem;
    border-radius: 56px;
}
.user_img button{
    margin-bottom: 2rem;
    margin-left: 29rem;
    border-radius: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #5A246B; 
    color: white;
    border: none;
    font-size: large;
    
}

hr {
    background-color: black;
    margin-left: -1.9rem;
}
@media (min-width :1440px ){
    .user_title{
        font-size: 2rem;
    }
    .usen_in [type=text]{
        margin-left: 1.5rem;
        font-size: xx-large;
        width: 45rem;
        height: 3rem;
    }
    .user_img img{
        width: 15rem;
        height: 15rem;
    }

}
@media (min-width :1701px ){
    .user_set_con{
        margin-left: 37rem;
    }
    .user_title{
        font-size: 2.5rem;
    }
    .usen_in [type=text]{
        margin-left: 2rem;
        width: 50rem;
    }

    .user_img button{
        margin-bottom: 1rem;
        width: 13rem;
        height: 3rem;
        font-size: x-large;
        margin-left: 35rem;
        
    }
}
@media (min-width :2500px){
    .user_set_con{
        margin-left: 48rem;
    }
    .user_title{
        font-size: 3rem;
    }
    .usen_in [type=text]{
        width: 60rem;
    }

    .user_img button{
        width: 15rem;
        height: 3.5rem;
        font-size: xx-large;
        margin-left: 45rem;
        
    }
}